/note.md
*/__pycache__/
*.pyc
*.ipynb
!aggregate_relation_pr_curve.ipynb
*.png
*.gz
*.csv
*.txt
*.json
*.zip
*.bin
data/lama
!data/relation_info*.json
!data/lpaqa/*/*.txt
!outputs/*
!outputs/*/*/*
*.pt