/note.md
*/__pycache__/
ckbc-demo/
*.pickle
*.pyc
*.ipynb
!aggregate_relation_pr_curve.ipynb
*.gz
*.csv
*.txt
!data/autoprompt_*.txt
*.json
*.zip
*.bin
curves/
(old)curves/
(old)outputs/
0419_tune_weight/
data/lama
!data/relation_info*.json
!data/lpaqa/*/*.txt
!outputs/*
!outputs/*/*/*
*.pt