transformers==4.19.2
torch==1.11.0
fire==0.4.0
tqdm==4.59.0
scipy==1.6.2
nltk==3.4.5
openai==0.16.0
thefuzz==0.19.0
prettytable==3.2.0
flask>=2.1.0
dask>=2.6.1
dash_bootstrap_components>=1.2.1
thefuzz>=0.19.0